.contactInfoContainer {
    position: absolute;
    padding-left: 30vw;
    width: 100vh;
    height: 15vh;
    flex-direction: row;
    top: 25rem;
}

.contactButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 15vh;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 5vh;
    border-radius: 4vw;
    font-size: 1vw;
    height: 4vh;
}

.phone,
.email,
.twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
}