.content {
    top: 25rem;
    width: 100vw;
    height: 30vh;
    position: absolute;
}

.slider-wrapper {
    font-size: 2vw;
    width: 35vw;
    height: 25vh;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.slider {
    height: 7vh;
    padding-left: 1vw;
    overflow: hidden;
    color: white;
}

.slider div {
    color: rgb(255, 255, 255);
    height: 7vh;
    text-align: center;
    box-sizing: border-box;
}

.slider-text1 {
    background: lightgreen;
    animation: slide 4s linear infinite;
}

.slider-text2 {
    background: skyblue;
}

.slider-text3 {
    background: lightcoral;
}

.slider-text4 {
    background: lightcoral;
}

@keyframes slide {
    0% {
        margin-top: -300px;
    }
    5% {
        margin-top: -200px;
    }
    33% {
        margin-top: -200px;
    }
    38% {
        margin-top: -100px;
    }
    66% {
        margin-top: -100px;
    }
    71% {
        margin-top: 0px;
    }
    100% {
        margin-top: 0px;
    }
}