.nameContainer {
    position: absolute;
    top: 10rem;
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FirstName,
.LastName {
    font-size: 8vw;
    font-family: 'Karla', sans-serif;
    color: rgb(64, 238, 221);
    text-shadow: 0px 20px 8px rgba(14, 1, 47, 0.805);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
.FirstName {
    position: absolute;
    bottom: -55rem;
    left: 34rem;
}

.LastName {
    position: absolute;
    bottom: -55rem;
    right: 50rem;
}

.crawlingFace {
    position: absolute;
    width: 100%;
    height: 950px;
    left: 3rem;
    top: 150rem;
}
*/